<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="NetMsmqBinding_IQueueService" exactlyOnce="false">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <client>
            <endpoint address="net.msmq://localhost/private/myqueue" binding="netMsmqBinding" 
                bindingConfiguration="NetMsmqBinding_IQueueService" contract="QueueServiceReference.IQueueService"
                name="NetMsmqBinding_IQueueService" />
        </client>
    </system.serviceModel>
</configuration>